/*
======================================================================

  Mobile first approach

  Legenda

  1 - LAYOUT & COMMON STYLING

  You can recognize this with:
  ======================================================================
  1-1 example
  ======================================================================

  1.1 - standard and common
  1.2 - header
    1.2.1 - header - nav menu
    1.2.1.1 - header - nav menu - transition
  1.3 - hero
  1.4 - cta
  1.5 - projects

  ----------------------------------------------------------------------

  2 - SPECIFIK STYLING

  You can recognize this with:
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  2.1 example
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

    2.1 - darkmode


  3 -  MEDIA QUERIES
  
  You can recognize this with:
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  3.1 example
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

  3.1 media queries



======================================================================
*/

/* 
======================================================================
1.1 - standard and common
======================================================================
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: auto;
  font-size: 8px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.blackmode-bg {
  background-color: black;
  transition: background-color 0.5s ease;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
}
/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
2.1 standard and common - darkmode
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

.blackmode-fc {
  color: white;
  transition: color 0.5s ease;
}

/* 
======================================================================
1.2 - header
======================================================================
*/

header {
  position: relative;
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.375rem;
  /* border: 4px solid red; */
  /* font-size: 16px; */
}

.logo {
  margin-left: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

/* 
======================================================================
1.2.1 - header - nav menu
======================================================================
*/

/* the hamburger is based of the 500px design so the font-size is set on 11px.
Based on that i could calculate te dimension. Weird enough for top and right
it seems to behave different */
.hamburger-menu {
  position: relative;
  display: flex;
  /* position: absolute; */
  /* top: calc(4.5rem); */
  margin-right: calc(3.94rem);
  width: calc(4.27rem);
  height: calc(2.401rem);
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
.line {
  height: 0.346rem;
  border-radius: 3rem;
  width: 100%;
  background: black;
}

@keyframes line2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-15rem);
  }
}
@keyframes line2-reverse {
  0% {
    transform: translateX(-15rem);
  }
  100% {
    transform: translateY(0);
  }
}
.line2 {
  width: calc(3.03rem);
  align-self: flex-end;
}
.line2.animation {
  animation: line2 1s forwards;
}
.line2.animation-reverse {
  animation: line2-reverse 1s forwards;
}

.nav-image-moon {
  position: absolute;
  content: "";
  top: -2rem;
  right: -1rem;
  width: calc(3.2505rem);
  height: calc(3.2505rem);
  /* background-color: rgb(84, 167, 84); */
  background-image: url("../images/moon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

nav {
  display: none;
}

nav ul {
  /* display: none; */
  /* position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  width: 100vw;
  height: 100vh; */
  list-style-type: none;
  z-index: 999;
  /* background: rgb(186, 196, 186); */
}
.nav-item {
  position: relative;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.1rem;
}

/*
======================================================================
1.2.1.1 - header - nav menu - transition
======================================================================
*/

.animate::before {
  /* display: none; */
  position: absolute;
  content: "";
  height: 1px;
  border-bottom: 2px solid black;
  bottom: -6px;
  animation: shrink 800ms forwards;
}

.animate.blackmode::before {
  border-color: white;
}

.animate:hover::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -6px;
  animation: grow 800ms forwards;
}

@keyframes grow {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 30%;
  }
}

@keyframes shrink {
  0% {
    width: 30%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

.active {
  position: relative;
}

.active::before {
  /* display: none; */
  position: absolute;
  content: "";
  width: 55%;
  height: 1px;
  border-bottom: 2px solid black;
  bottom: -6px;
}

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
2.1 darkmode - header nav menu
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
*/

.active.blackmode::before {
  border-color: white;
}

/*
======================================================================
1.3 - hero
======================================================================
*/

.hero {
  display: flex;
  /* min-height: 22.5rem; */
  border: 4px solid blue;
  /* flex-wrap: wrap; */
  align-items: center;
  flex-direction: column;
}

.col {
  min-height: 22.5rem;
}

.hero svg {
  stroke: black;
  stroke-width: 4;
}

.left-col {
  min-width: 22.5rem;
  /* min-height: 200%; */
  position: relative;
}

.animate-left-col {
  animation: animate-leftcol ease 1200ms forwards;
}

.right-col {
  /* flex: 1; */
  font-family: "Open Sans", sans-serif;
}

.animate-right-col {
  animation: animate-hero-text ease 1200ms;
}

@keyframes animate-leftcol {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate-hero-text {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.right-col h1 {
  font-size: 2.375rem;
}
.right-col h1 span {
  color: #2af056;
}

.right-col h1,
.right-col h2 {
  width: 24ch;
}

.right-col h2 {
  font-weight: lighter;
  font-size: 1.75rem;
  width: 32ch;
  line-height: 2.25rem;
  /* width: 523px; */
}
.hero-image {
  position: absolute;
  background-image: url(/images/hero-no-border.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  pointer-events: none;
}

.hero-image-sun {
  position: absolute;
  content: "";
  background-image: url(/images/sun.svg);
  background-size: cover;
  z-index: 1;
  top: -1em;
  left: -3em;
  width: 50%;
  height: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 800ms ease-in-out;
}

.hero-image-sun:hover {
  transform: scale(1.5);
  transition: transform 800ms ease-in-out;
}

.focus-highlight {
  position: relative;
}

.focus-highlight:after {
  position: absolute;
  content: "";
  /* background-image: url(/images/focus-highlight-reveal.svg); */
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150%;
  left: -10px;
  margin-top: 1rem;
  height: 100%;
  z-index: -1;
  animation: showHide ease-in-out 400ms forwards 1200ms;
}

.focus-highlight.blackmode::after {
  background-color: black;
}

@keyframes showHide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}

.focus-highlight:before {
  position: absolute;
  content: "";
  background-image: url(/images/focus-highlight.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 150%;
  margin-left: -10px;
  margin-top: 1rem;
  height: 100%;
  z-index: -2;
}

/*
======================================================================
1.4 - cta
======================================================================
*/
.cta {
  min-height: 28.5rem;
  display: flex;
  justify-content: center;
  border: solid 3px red;
}

.cta-left-col {
  /* min-width: 22.5rem; */
  display: none;
}

.cta-btn-tiger {
  position: relative;
  padding: 0.75em 2.2em;
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(42, 240, 86, 0.5);
  font-size: 1.5rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  z-index: 10;
  /* transition: transform 400ms ease, font-size 400ms ease; */
  /* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); */
}

.cta-btn-tiger:hover {
  /* font-size: 1.8rem; */
  transition: transform 200ms ease;
  transform: translateY(-10px);
  transform-origin: center;
  z-index: 999;
}

.cta-btn-tiger::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 50%;
  filter: blur(10px);
  opacity: 0;
  cursor: none;
  pointer-events: none;

  /* transition: transform ease 200ms, opacity ease 200ms; */
}

.cta-btn-tiger:hover::before {
  transform: translateY(10px);
  transition: opacity ease 400ms;
  opacity: 1;
}

#hide-element {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  /* background-color: red; */
  background-image: url("/images/tiger.gif");
  background-size: contain;
  background-repeat: no-repeat;
  right: -150px;
  /* bottom: 0; */
  opacity: 0;
  z-index: 2;
  cursor: none;
  pointer-events: none;
  /* visibility: var(--tiger, visible); */
}

#leaves {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/images/leaves.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -150px;
  opacity: 0;
}

.leaves-animation {
  animation: move-leaves 400ms ease-out forwards;
}
@keyframes move-leaves {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

.hide-element-animation {
  animation: run-tiger 1200ms ease-out forwards;
  /* animation-iteration-count: 1; */
  /* opacity: 1; */
}

@keyframes run-tiger {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(120px);
    opacity: 0;
  }
}
.cta-text {
  margin-left: 0.8em;
  font-size: 1.125rem;
  width: 22ch;
  font-weight: bold;
  display: inline-block;
}

.animate-text-cta {
  animation: bounce 650ms;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

/*
======================================================================
1.4 - projects
======================================================================
*/

.btn-projects {
  align-self: center;
  /* bottom: 0; */
  padding-top: 0.625em;
  padding-bottom: 0.5em;
  padding-left: 3.25em;
  padding-right: 3.25em;
  background-color: #c92a2a;
  border-top-left-radius: 1.125em;
  border-top-right-radius: 1.125em;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.projects-grid {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  border-top: 3px solid black;
  padding: 3.81rem 0;
  grid-template-columns: repeat(auto-fit, minmax(33.26731rem, 33.26731rem));
  grid-template-rows: repeat(auto-fill, 19.375rem);
  row-gap: 3rem;
  justify-content: center;
}

@media only screen and (min-width: 1100px) {
  .projects-grid {
    justify-content: space-between;
  }
}

.card {
  position: relative;
  border-radius: 0.9345rem;
  background: #dcdde3;
  padding-bottom: 3rem;
  transition: background-color 0.5s ease, opacity 0.7s ease;
}

.card-hover {
  background: #a4a7b6;
}
.card-opacity {
  opacity: 50%;
}

.card article {
  margin-top: 2.74rem;
  margin-left: 12.52rem;
}

.card h2 {
  position: relative;
  font-family: Open Sans;
  color: #1e531d;
  line-height: 2.01488em;
  transition: color 0.5s ease;
}

.card .h2-hover {
  color: #193219;
}
.card h2 svg {
  content: "";
  position: absolute;
  /* right: 20px; */
  bottom: 50%;
  width: 0.99488rem;
  height: 0.75rem;
  fill: #1e531d;
  transition: all 0.3s ease;
}

.card h2 .svg-hover {
  transform: translateY(-0.625rem) translateX(0.625rem);
  fill: #193219;
}
.card p {
  height: 8.0625rem;
  width: 15.38769rem;
  font-size: 0.99675rem;
  font-family: Open Sans;
  line-height: 2.01488rem;
  text-overflow: ellipsis; /* I dont know if this one really makes a different it seems like it is taking this ellipses by default */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card ul {
  list-style: none;
  display: flex;
  gap: 0.61rem;
}

.card li {
  padding: 0.07269rem 1.30856rem;
  background: rgba(42, 240, 86, 0.5);
  border-radius: 0.71181rem;
  line-height: 1.50069rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.65244rem;
  margin-top: 1.79rem;
  transition: color 0.5s ease;
}

.card .li-hover {
  color: #193219;
}

.card img {
  position: absolute;
  width: 8.16106rem;
  height: 6.97744rem;
  object-fit: cover;
  border-radius: 0.9345rem;
  margin-top: 1.37rem;
  margin-left: 1.62rem;
}

/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
2.1 darkmode - projects
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

.blackmode-bg-opposite {
  background-color: white;
  transition: background-color 0.5s ease;
}
.blackmode-fc-opposite {
  color: black;
  transition: color 0.5s ease;
}
.blackmode-border-opposite {
  border-color: white;
}

/*
======================================================================
1.5 - footer
======================================================================
*/

footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  bottom: 0;
  width: 100%;
  padding: 1em;
}

footer ul {
  list-style: none;
}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
3.1 media queries
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

@media (min-width: 300px) {
  html {
    font-size: clamp(8px, 2.66vw, 11px);
  }
}

@media (min-width: 580px) {
  html {
    font-size: 8px;
  }
  .hero {
    flex-direction: row;
    align-items: unset;
    justify-content: center;
  }
  .right-col {
    padding-left: 9.56rem;
    padding-top: 6rem;
  }

  .cta-left-col {
    display: block;
    min-width: 22.5rem;
  }

  .cta-right-col {
    padding-left: 9.56rem;
    padding-top: 6rem;
  }
}

@media (min-width: 640px) {
  html {
    font-size: clamp(8px, 1.25vw, 11px);
  }

  /* Starting from here the normal nav menu comes in. */

  .hamburger-menu {
    display: none;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.375rem;
  }
  .nav-item {
    position: relative;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: clamp(11px, 1.1vw, 16px);
  }
}
