*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.blackmode-bg {
  background-color: black;
}

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
}

/* header section */

header {
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.375em;
  /* border: 4px solid red; */
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

.active {
  position: relative;
}

.active::before {
  position: absolute;
  content: "";
  width: 55%;
  height: 1px;
  border-bottom: 2px solid black;
  bottom: -6px;
}

.active.blackmode::before {
  border-color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.375rem;
}
.nav-item {
  position: relative;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.blackmode-fc {
  color: white;
}

.animate::before {
  position: absolute;
  content: "";
  height: 1px;
  border-bottom: 2px solid black;
  bottom: -6px;
  animation: shrink 800ms forwards;
}

.animate.blackmode::before {
  border-color: white;
}

.animate:hover::before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -6px;
  animation: grow 800ms forwards;
}

@keyframes grow {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 30%;
  }
}

@keyframes shrink {
  0% {
    width: 30%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

/* hero section  */

.hero {
  display: flex;
  min-height: 22.5em;
  /* border: 4px solid; */
}

.hero svg {
  stroke: black;
  stroke-width: 4;
}

.left-col {
  min-width: 22.5em;
  min-height: 200%;
  position: relative;
  animation: animate-leftcol ease 1200ms forwards;
}

@keyframes animate-leftcol {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.right-col {
  flex: 1;
  padding-left: 9.56em;
  padding-top: 6em;
  font-family: "Open Sans", sans-serif;
  animation: animate-hero-text ease 1200ms;
}

@keyframes animate-hero-text {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.right-col h1 {
  font-size: 2.375rem;
}
.right-col h1 span {
  color: #2af056;
}

.right-col h1,
.right-col h2 {
  width: 24ch;
}

.right-col h2 {
  font-weight: lighter;
  font-size: 1.75rem;
  width: 32ch;
  line-height: 2.25rem;
  /* width: 523px; */
}
.hero-image {
  position: absolute;
  background-image: url(/images/hero-no-border.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  pointer-events: none;
}

.hero-image-sun {
  position: absolute;
  content: "";
  background-image: url(/images/sun.svg);
  background-size: cover;
  z-index: 1;
  top: -1em;
  left: -3em;
  width: 50%;
  height: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 800ms ease-in-out;
}

.hero-image-sun:hover {
  transform: scale(1.5);
  transition: transform 800ms ease-in-out;
}

.focus-highlight {
  position: relative;
}

.focus-highlight:after {
  position: absolute;
  content: "";
  /* background-image: url(/images/focus-highlight-reveal.svg); */
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150%;
  left: -10px;
  margin-top: 1rem;
  height: 100%;
  z-index: -1;
  animation: showHide ease-in-out 400ms forwards 1200ms;
}

.focus-highlight.blackmode::after {
  background-color: black;
}

@keyframes showHide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}

.focus-highlight:before {
  position: absolute;
  content: "";
  background-image: url(/images/focus-highlight.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 150%;
  margin-left: -10px;
  margin-top: 1rem;
  height: 100%;
  z-index: -2;
}

/* cta section */
.cta {
  min-height: 28.5em;
  display: flex;
}

.cta-left-col {
  min-width: 22.5em;
}

.cta-right-col {
  flex: 1;
  padding-left: 9.56em;
  padding-top: 6em;
}

.cta-btn-tiger {
  position: relative;
  padding: 0.75em 2.2em;
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(42, 240, 86, 0.5);
  font-size: 1.5rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  z-index: 10;
  /* transition: transform 400ms ease, font-size 400ms ease; */
  /* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); */
}

.cta-btn-tiger:hover {
  /* font-size: 1.8rem; */
  transition: transform 200ms ease;
  transform: translateY(-10px);
  transform-origin: center;
  z-index: 999;
}

.cta-btn-tiger::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 50%;
  filter: blur(10px);
  opacity: 0;
  cursor: none;
  pointer-events: none;

  /* transition: transform ease 200ms, opacity ease 200ms; */
}

.cta-btn-tiger:hover::before {
  transform: translateY(10px);
  transition: opacity ease 400ms;
  opacity: 1;
}

#hide-element {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  /* background-color: red; */
  background-image: url("/images/tiger.gif");
  background-size: contain;
  background-repeat: no-repeat;
  right: -150px;
  /* bottom: 0; */
  opacity: 0;
  z-index: 2;
  cursor: none;
  pointer-events: none;
  /* visibility: var(--tiger, visible); */
}

#leaves {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/images/leaves.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -150px;
  opacity: 0;
}

.leaves-animation {
  animation: move-leaves 400ms ease-out forwards;
}
@keyframes move-leaves {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

.hide-element-animation {
  animation: run-tiger 1200ms ease-out forwards;
  /* animation-iteration-count: 1; */
  /* opacity: 1; */
}

@keyframes run-tiger {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(120px);
    opacity: 0;
  }
}
.cta-text {
  margin-left: 0.8em;
  font-size: 1.125rem;
  width: 22ch;
  font-weight: bold;
  display: inline-block;
}

.animate-text-cta {
  animation: bounce 650ms;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

.btn-projects {
  align-self: center;
  /* bottom: 0; */
  padding-top: 0.625em;
  padding-bottom: 0.5em;
  padding-left: 3.25em;
  padding-right: 3.25em;
  background-color: #c92a2a;
  border-top-left-radius: 1.125em;
  border-top-right-radius: 1.125em;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.projects {
  margin: 0 auto;
  display: flex;
  height: 50em;
  max-width: 1200px;
  border-top: 3px solid black;
}

.blackmode-bg-opposite {
  background: white;
}
.blackmode-fc-opposite {
  color: black;
}
.blackmode-border-opposite {
  border-color: white;
}
